.header{
    background-color: #94524A;
    width: 100%;
    height: 100px;
}
.div{
    display: flex;
    align-items: center;
}
.div h1{
    white-space: nowrap;
}

.logo{
    height: 100%;
}

.logo img{
    height: 60px;
    width: auto;
    object-fit: contain;
}
