.lista{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.lista li{
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 350px;
    border: 1px solid rgb(212, 211, 211);
    border-radius: 15px;
    text-align: center;
}

.lista main{
    text-align: left;
}

.lista a{
    text-decoration: none;
    color: black;
}
.lista h2 {
    font-size: 15px;
}
.filtros {
    background-color: #eee7e3ff;
    width: 250px;
    height:250px;
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 20px;
    padding: 10px;
    min-height: 50px;
    font-size: 20px;
}




